appdirs==1.4.4
atomicwrites==1.4.0
html5lib==1.1
jsonpointer==2.1
keyboard==0.13.5
matplotlib==3.9.2
multitasking==0.0.11
numpy-financial==1.0.0
pdfkit==1.0.0
peewee==3.17.8
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pyobjc==11.0
pyobjc-core==11.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==75.1.0
wheel==0.44.0
yfinance==0.2.53